<div class="container">
	<div class="row myrow" [hidden]="showHello">
		<div class = "col-md-8 col-md-offset-2 col-xs-12">
			<div class="modal-content text-center">
				<div>
					<h1>!חבר יקר<br>...אנא השב על השאלות <br>!דעתך חשובה לנו</h1>
					<button type="button" class="btn btn-primary btt" (click)="showQuestion1()">
					 ...ללכת לשאלות
					</button>
			 	</div>
			</div>
		</div>
	</div>
</div>
<div class="container"> 
    <div class="row myrow" [hidden]="showQues1">
		<div class = "col-md-8 col-md-offset-2 col-xs-12 text-center">
			<div class="modal-content">		
				<div><h1>?באיזו מידה אתה מרוצה מהשירות שקיבלת</h1></div>
				<div class="rating">
				<a class="star" href="#"><i class="fa fa-star push" aria-hidden="true"></i>
				</a>
				<a  class="star" href="#" (click)="pushstar_1_2()">
				<i class="fa fa-star" aria-hidden="true" 
				[ngClass]="{push: pushstar1_2}"></i>
				</a>
				<a class="star" href="#" (click)="pushstar_1_3()">
				<i class="fa fa-star" aria-hidden="true" 
				[ngClass]="{push: pushstar1_3}"></i>
				</a>
				<a class="star" href="#" (click)="pushstar_1_4()">
				<i class="fa fa-star" aria-hidden="true" 
				[ngClass]="{push: pushstar1_4}"></i>
				</a>
				<a class="star" href="#" (click)="pushstar_1_5()">
				<i class="fa fa-star" aria-hidden="true" 
				[ngClass]="{push: pushstar1_5}"></i>
				</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row myrow" [hidden]="showQues1bad">
		<div class = "col-md-8 col-md-offset-2 col-xs-12 text-center">
			<div class="modal-content">		
				<div><h1>?למה לא מרוצה</h1></div>
				<textarea class="form-control" rows="3"></textarea>
                <button type="button" class="btn btn-primary btt" (click)="showQuestion2()">...הבא</button>
			</div>
		</div>
	</div>
	<div class="row myrow" [hidden]="showQues2" id="ques-2">
		<div class = "col-md-8 col-md-offset-2 col-xs-12 text-center">
			<div class="modal-content">		
				<div><h1>?באיזו מידה אתה מרוצה מזמן ההמתנה</h1></div>
				<div class="rating">
				<a class="star" href="#"><i class="fa fa-star push" aria-hidden="true"></i>
				</a>
				<a  class="star" href="#" (click)="pushstar_2_2()">
				<i class="fa fa-star" aria-hidden="true" 
				[ngClass]="{push: pushstar2_2}"></i>
				</a>
				<a class="star" href="#" (click)="pushstar_2_3()">
				<i class="fa fa-star" aria-hidden="true" 
				[ngClass]="{push: pushstar2_3}"></i>
				</a>
				<a class="star" href="#" (click)="pushstar_2_4()">
				<i class="fa fa-star" aria-hidden="true" 
				[ngClass]="{push: pushstar2_4}"></i>
				</a>
				<a class="star" href="#" (click)="pushstar_2_5()">
				<i class="fa fa-star" aria-hidden="true" 
				[ngClass]="{push: pushstar2_5}"></i>
				</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row myrow" [hidden]="showQues2bad">
		<div class = "col-md-8 col-md-offset-2 col-xs-12 text-center">
			<div class="modal-content">		
				<div><h1>?למה לא מרוצה</h1></div>
				<textarea class="form-control" rows="3"></textarea>
                <button type="button" class="btn btn-primary btt" (click)="exitandsave()">...הבא</button>
			</div>
		</div>
	</div>
	<div class="row myrow" [hidden]="exit">
		<div class = "col-md-8 col-md-offset-2 col-xs-12">
			<div class="modal-content text-center">
				<div>
					<h1>!תודה על תשומת הלב שלך</h1>
					<button type="button" class="btn btn-primary btt">
					 יציאה
					</button>
			 	</div>
			</div>
		</div>
	</div>
</div>


