<div class="row myrow">
	<div class = "col-md-10 col-md-offset-1 col-xs-12 text-center">
		<div class="bubble-left">		
			<div><h1><bdo dir="rtl">{{ question }}</bdo></h1></div>
		</div>
	</div>
</div>
<div class="row myrow" [hidden]="answerballoon">
	<div class = "col-md-10 col-md-offset-1 col-xs-12 text-center">
		<div class="bubble-right">	
			<div class="checkbox mycheck mycheckboxdiv">
				<ul class="list-unstyled">
					<li *ngFor="let varanswer of varanswers; let i = index">
						{{ varanswer }} <label> 
							<input type="checkbox" class="dropdown-checkbox mycheckbox" [(ngModel)]="varanswer.isChecked" (change)="addAnswers(varanswer)" id="checkbox1" value="option1"><br/>
						</label>
					</li>
				</ul>
			</div>
			<button type="button" class="btn btn-primary btt" id="bottom" (click)=saveanswer()>...הבא</button>
			<img class="ticks" [hidden]="tick" src="../../../img/ticks.png" alt="ticks">
		</div>
		<div [hidden]="writer" class="writer">...כותב לך</div>
	</div>
</div>