h1{
	margin-top: 20px;
    color: #404d5a;
    font-size: 25px;
}

p{
	font-weight: bold;
	color: #404d5a;
	font-size: 16px;
}
.myrow{
	margin-top: 20px;
}

.btt{
	background: #404d5a;
	width: 200px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	color: #d0d5db;
	margin-top: 10px;
	margin-bottom: 20px;
}

.btt:hover,
.btt:focus{
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
}

.myform{
	text-align: left;
	margin-left: 40%;
}
.modal-content{
	padding: 20px;
	left: 40px;
	right: 40px;
	height: 240px;
	max-width: 600px;
}
.ball-left{
	background-image: url(img/balloon-left.png);
	background-repeat: no-repeat;
	}
.ball-right{
	background-image: url(img/balloon-right.png);
	background-repeat: no-repeat;
}

.fa{
	font-size: 30px;
}

.fa-star{
	color: #b0b7c6;
	margin-bottom: 30px;
	margin-top: 50px;
}

.fa-star:hover,
.fa-star:focus{
	color: #404d5a;
}

.push{
	color: #404d5a;
}
.downblock{
	margin-top: 50px;
}

